:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --slate: #434455;
  --ocean: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: #ffffff;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* portfolio */
.nav {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.header {
  background: var(--white);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  width: 1158px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Header */

.logo {
  color: var(--iris);
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  margin-right: 76px;
}
.logo-two {
  color: var(--navyblue);
}

.list-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue, #2e2f42);
}

.nav-list-item:nth-last-child(n + 2) {
  margin-right: 40px;
}

.list-position:hover,
.list-position:focus {
  color: var(--ocean);
}

/* Header address */
.address-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.address-item {
  flex-shrink: 0;
}
.address-item:nth-last-child(n + 2) {
  margin-left: 332px;
  margin-right: 40px;
}
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}
.addr {
  font-style: normal;
}
/* PORTFOLIO */

/* buttons  */
.list-btn {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 96px;
  padding-bottom: 72px;
  justify-content: center;
}

.button-name {
  color: var(--iris);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.button-name:hover,
.button-name:focus {
  color: var(--white);
  background-color: var(--ocean);
}
/* project  */

.list-project {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}
.project-list-item {
  width: 360px;
  height: 420px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 48px;
}
.project-text {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}
.project-list-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.project-item-bottom {
  margin-bottom: 120px;
}
.project-list-text {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 32px 54px 8px 16px;
  text-align: left;
}
.project-list-dscr {
  color: var(--slate);
  font-style: normal;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 0 auto;
  margin-left: 16px;
  margin-bottom: 32px;
}
.project-text {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

/* index.html */

/* Hero */
.section-hero {
  background: var(--navyblue);
  display: block;
  flex-shrink: 0;
}
.hero-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  width: 496px;
  padding-bottom: 48px;
  margin: 0 auto;
}

.section-hero {
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--white);
  background-color: var(--ocean, #404bbf);
}

/* Effective  */

.effective-list-title {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.effective-list-dscr {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.effective-item {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-top: 120px;
}
.section-effective .container .list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}
/*  Advantages */

.advantages-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-advantages .list {
  display: flex;
  flex-shrink: 0;
  column-gap: 24px;
  padding-bottom: 120px;
}
.adventages-list-img {
  border: 1px solid var(--cornflower);
}
/* Our Team */
.section-team {
  background: var(--cloud);
}

.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
}

.section-team .list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}
.team-list-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.team-list-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 32px 49px 8px 49px;
}
.team-list-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 49px 32px 49px;
}

/* Footer */

.footer-logo {
  padding-top: 101.5px;
  padding-bottom: 17.5px;
}
.footer {
  background-color: var(--navyblue);
  margin: 0 auto;
  padding: 0;
}

.logo-footer-one {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer-two {
  justify-content: center;
  color: var(--cloud);
  font-size: 18px;
  font-style: normal;
  line-height: 1.7;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-dscr {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  padding-bottom: 100px;
}
